@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: theme(colors.gray.950);
  --foreground: white;
  --primary: theme(colors.blue.950);
  --placeholder: theme(colors.gray.800);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: sans-serif;
}
